* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
}

img {
  width: 100%;
}

ol, ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: #2a2a2a;
}

.hidden {
  opacity: 0;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, main {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.headerLogoLink {
  display: block;
  width: 50px;
  height: 100%;
}

.headerLogoImg {
  object-fit: contain;
  line-height: 40px;
}

.bg-body-tertiary {
  background-color: #fff !important;
}

.navbar {
  gap: 12px;
}

.navbar-collapse.collapse {
  justify-content: space-between;
}

.navLinksBox {
  align-items: center;
}

.navLinksBox > .nav-link {
  padding: 0 10px 6px 10px !important;
  font-size: 20px;
}

.navLinksBox > .nav-link:hover {
  padding: 0 10px 4px 10px !important;
  border-bottom: 2px solid #1b1919;
}


.headerContentBox .cartCount {
  flex-grow: 0.5;
  height: 100%;
}

.containerCatalog {
  padding-bottom: 120px;
}

.containerCatalog h2 {
  margin: 20px 0 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Google Sans", sans-serif;
  font-size: 28px;
  color: #2a2a2a;
}

.shopContent {
  margin: 0 auto;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 1600px;
  padding: 0 16px;
  justify-content: center;
  color: #fff;
}

.shopItem {
  max-width: 360px;
  padding: 14px 10px 14px 14px;
  box-shadow: 0 0 6px #cdcdcd;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.905);
}

.shopItem .itemImage {
  max-width: 250px;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f6f4f4;
}

.shopItem .itemImage img {
  transition: transform .4s ease;
}

.shopItem .itemImage img:hover {
  transform: scaleY(1.1) scaleX(1.1);
}

.itemTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.itemCategory {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: end;
  margin-top: 10px;
  color: #fbfe3e;
}

.itemImage {
  margin-top: 10px;
  width: 100%;
  height: 250px;
}

.itemImage img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.itemContent{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.itemDescription {
  font-size: 16px;
  margin-top: 8px;
}

.itemPrice {
  text-align: end;
  font-size: 18px;
}

.cartContainer{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 8px;
  padding-top: 40px;
}

.cartItem {
  display: flex;
  gap: 16px;
  padding: 14px 16px 14px 12px;
  border-radius: 6px;
  box-shadow: 0 0 5px #cdcdcd;
}

.cartImg {
  width: 100px;
  height: 100px;
}

.cartItem img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.cartItemContent {
  flex-grow: 1;
}

.cartItemContent .countContainer {
  color: #1b1919;
}

.cartItemContent .countButton.decreaseButton, 
.cartItemContent .countButton.increaseButton {
  border: 1px solid #1b1919;
  color: #1b1919;
}

.cartItemContent .countButton.decreaseButton:hover,
.cartItemContent .countButton.increaseButton:hover {
  border: 0px solid transparent;
}

.cartItemContent .countButton.decreaseButton:hover {
  color: #fff;
}

.emptyCartBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyCartImgCont {
  max-width: 300px;
  flex-shrink: 1;
}

.emptyCartImg {
  object-fit: contain;
}

.controllButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.controllButtons button {
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  color: #1b1919;
}

.controllButtons .addToCartButton {
  padding: 8px 10px;
  border: 0px solid transparent;
  background-color: #fbfe3e;
}

.controllButtons .addToCartButton:hover {
  background-color: #13690a;
  font-weight: bold;
  color: #fff;
  border: 0 solid transparent;
}

.countContainer {
  display: flex;
  color: #fff;
}

.countButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  width: 50px;
  height: 50px;
}

.countButton.decreaseButton {
  margin-right: 8px;
  transition: all .3s ease-in-out;
}

.countButton.decreaseButton:hover {
  background-color: #d11a1a;
  color: #fff;
  border: 0 solid transparent;
}

.countButton.increaseButton {
  margin-left: 8px;
  transition: all .3s ease-in-out;
}

.countButton.increaseButton:hover {
  background-color: #fbff24;
  border: 0 solid transparent;
}

.countButton.decreaseButton, 
.countButton.increaseButton {
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: transparent;
  font-size: 18px;
  color: #fff;
}

.countContainer .count {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.removeButton {
  border: 0 solid transparent;
  padding: 6px 12px;
  border-radius: 6px;
}

.removeButton:hover {
  background-color: #b22b2b;
  color: #fff;
  border: 0 solid transparent;
}

.productContainer{
  max-width: 1200px;
  margin: 0 auto;
}

.productContainer .breadcrumbs {
  margin-top: 12px;
  text-align: center;
}

.productTitle{
  text-align: center;
  font-size: 30px;
  color: #2a2a2a;
  margin-top: 20px;
  margin-bottom: 16px;
}

.productMainContent {
  display: flex;
  gap: 16px;
  align-items: stretch;
}

.productImage {
  width: 40%;
}

.productImage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productDescription {
  width: 60%;
}

.productDescription .countContainer {
  color: #1b1919;
}

.productDescription .countButton.decreaseButton, 
.productDescription .countButton.increaseButton {
  border: 1px solid #1b1919;
  color: #1b1919;
}

.productDescription .countButton.decreaseButton:hover,
.productDescription .countButton.increaseButton:hover {
  border: 0px solid transparent;
}

.productDescription .countButton.decreaseButton:hover {
  color: #fff;
}

.productCategory {
  margin: 10px 0 20px;
  font-size: 14px;
  font-style: italic;
  color: #5f5f5f;
  text-align: end;
}

.description {
  font-size: 18px;
  margin: 0 0 20px;
  line-height: 150%;
  text-indent: 20px;
}

.rating {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.ratingCount {
  font-weight: 100;
  font-size: 13px;
  align-self: flex-start;
  font-style: italic;
}

.ratingValue {
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  color: #393939;
}

.productDescription .price {
  font-size: 38px;
  text-align: end;
}

.breadcrumbs .breadcrumbsList {
  display: inline-flex;
  justify-content: flex-start;
}

.bcItem .bcLink{
  color: #2a2a2a;
  text-decoration: none;
}

.bcItem .bcText {
  color: #5f5f5f;
}

.bcSeparator {
  margin: 0 6px;
}

.cartBox a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cartBox .itemsCountBox {
  width: 24px;
  height: 24px;
  position: relative;
}

.cartBox .itemsCountBox img {
  object-fit: contain;
}

.itemsCount {
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 18px;
  background-color: #fbff24;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  font-weight: 400;
}

.cartTotalPrice {
  margin-left: 16px;
}

.containerFooter {
  padding-inline: 30px;
}

.footer {
  background-color: #fbfe3e;
  margin-top: 24px;
  padding-block: 30px;
  border-top: 3px solid rgb(55, 55, 52, 0.5);
}

.footerLinks ul {
  gap: 2px;
}

.footerLinks ul li:before {
  display: inline-flex;
  margin-right: 10px;
}

.footerLinks ul li.phone:before {
  content: url('../images/icons/phone_ico.png');
}

.footerLinks ul li.address:before {
  content: url('../images/icons/location_ico.png');
}

.footerLinks ul li.email:before {
  content: url('../images/icons/email_ico.png');
}

.footerLinks ul li a {
  vertical-align: super;
}

.footerLogo {
  width: 100%;
  height: 100%;
}

.footerLogo img {
  max-width: 100px;
  height: 100%;
}

.filterProdBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterProdInput {
  border-bottom: 2px solid #2a2a2a;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  padding-inline: 6px;
}

.filterProdInput:focus {
  border-bottom: 2px solid #2a2a2a;
  outline: 2px solid transparent;
}

.clearSearchButton {
  border: 0px solid transparent;
  background-color: transparent;
  width: 28px;
  height: 28px;
  font-size: 32px;
  line-height: 28px;
  transform: rotateZ(45deg);
  transition: opacity .5s ease;
}


